//COLORS

$color-primary: #6eade0;
$color-primary-dark: #014A8f;
$color-gold: #b09347;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

//FONT

$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
