/* 
    Colors:

    gold: #b09347
    light blue: #6eade0
    Dark blue: #014A8f
*/

.header {
    color: white;
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba(110, 173, 224, 0.8), rgba(1, 74, 143, 0.8)),url(../../images/Kauffman-Center.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 50% 100% ,0 75vh);
    position: relative;
}

.my-name {
    position: absolute;
    top: 40px;
    left: 40px;
    font-weight: 500;
    font-size: larger;
}
